<!--
 * File: mainLayout.handlebars
 * Copyright (c) 2023 Loupe
 * https://loupe.team
 * 
 * This file is part of StarterHmiProject, licensed under the MIT License.
-->

{{> msgbox}}
{{!-- {{> StatusBar}} --}}
{{!-- {{> sideNav}} --}}

<div id="page-content">
    {{> Piper}}
</div>