<!--
 * File: main.handlebars
 * Copyright (c) 2023 Loupe
 * https://loupe.team
 * 
 * This file is part of StarterHmiProject, licensed under the MIT License.
-->

{{> msgbox}}
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="row">
            {{> processTabs}}
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="row">
            {{> serviceTabs}}
        </div>
    </div>
</div>