<!--
 * File: charts.handlebars
 * Copyright (c) 2023 Loupe
 * https://loupe.team
 * 
 * This file is part of StarterHmiProject, licensed under the MIT License.
-->

<script src="app/libraries/graph.js" type="module"></script>

<div data-read-group="Charts">
{{> chartTemplate count=6}}
</div>

