{{#widget 'Columns' 'Control' maxColumns=1 data-read-group="Piper"}}
    <div class="">
        <span data-var-name="MachineHMI:HMIMachineCMD"></span>
        <span data-var-name="HMI_CNC_Co:FileNameList"></span>
        <span data-var-name="gMachine.IN"></span>
        <kbd>
            <span class="webhmi-text-value" data-var-name="MachineProg:StateString">State</span>
            <span class="webhmi-text-value" data-var-name="MachineProg:StatusModule.ModuleName">Module</span>
            <span class="webhmi-text-value" data-var-name="MachineProg:StatusModule.ModuleStatus">Module</span>
        </kbd>
    </div>
    <div class="">
        <button type="button" class="rigidbtnWidth control-btn webhmi-lock btn btn-md webhmi-btn-set webhmi-led btn-info" data-var-name-lock="MachineHMI:HMIMachineCMD.Reset.StatusDP" data-var-name="gMachine.IN.CMD.Reset" data-led-true="btn-warning" data-led-false="btn-primary"><span class="glyphicon glyphicon-repeat"></span> Reset</button>
        <button type="button" class="rigidbtnWidth control-btn webhmi-lock btn btn-md webhmi-btn-set webhmi-led btn-danger" data-var-name-lock="MachineHMI:HMIMachineCMD.Stop.StatusDP" data-var-name="gMachine.IN.CMD.Stop" data-led-true="btn-warning" data-led-false="btn-primary"><span class="glyphicon glyphicon-stop"></span> Stop</button>
        <button type="button" class="rigidbtnWidth control-btn webhmi-lock btn btn-md webhmi-btn-set webhmi-led btn-success" data-var-name-lock="MachineHMI:HMIMachineCMD.Start.StatusDP" data-var-name="gMachine.IN.CMD.Start" data-led-true="btn-warning" data-led-false="btn-primary"><span class="glyphicon glyphicon-play"></span> Start</button>
    </div>
    <div class="">
        <button type="button" class="rigidbtnWidth control-btn webhmi-lock btn btn-md webhmi-btn-set webhmi-led btn-danger" data-var-name-lock="MachineHMI:HMIMachineCMD.Abort.StatusDP" data-var-name="gMachine.IN.CMD.Abort" data-led-true="btn-warning" data-led-false="btn-primary"><span class="glyphicon glyphicon-remove-sign"></span> Depower</button>
        <button type="button" class="rigidbtnWidth control-btn webhmi-lock btn btn-md webhmi-btn-set webhmi-led " data-var-name-lock="MachineHMI:HMIMachineCMD.Clear.StatusDP" data-var-name="gMachine.IN.CMD.Clear" data-led-true="btn-warning" data-led-false="btn-primary">Clear</button>
    </div>
    <div class="">
        <button type="button" class="rigidbtnWidth control-btn webhmi-lock btn btn-md webhmi-btn-set webhmi-led " data-var-name-lock="MachineHMI:HMIMachineCMD.Hold.StatusDP" data-var-name="gMachine.IN.CMD.Hold" data-led-true="btn-warning" data-led-false="btn-primary"><span class="glyphicon glyphicon-pause"></span> Pause</button>
        <button type="button" class="rigidbtnWidth control-btn webhmi-lock btn btn-md webhmi-btn-set webhmi-led " data-var-name-lock="MachineHMI:HMIMachineCMD.Unhold.StatusDP" data-var-name="gMachine.IN.CMD.Unhold" data-led-true="btn-warning" data-led-false="btn-primary"><span class="glyphicon glyphicon-play"></span> Resume</button>
    </div>

{{/widget}}