<!--
 * File: process.handlebars
 * Copyright (c) 2023 Loupe
 * https://loupe.team
 * 
 * This file is part of StarterHmiProject, licensed under the MIT License.
-->

<div class="process-ui">
    {{#widget 'Columns' maxColumns=2}}
    {{> Piper}}
    {{/widget}}
</div>