<!--
 * File: robot.handlebars
 * Copyright (c) 2023 Loupe
 * https://loupe.team
 * 
 * This file is part of StarterHmiProject, licensed under the MIT License.
-->

<div id="robot" class="" style="height:600px" data-read-group="RobotModel"></div>

<!-- model -->
<!--<script async type="module" src="js/model.js"></script>-->
