/* editor popup styling
 * 
 */

 #editor {
  /*max-height: 250px;*/
  min-width: 98%;
  max-width: 98%;
  margin: 5px;
  height: 430px;
  width: 50vw;
	/* background-color: #EBEBEB; */
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
  padding: 4px; 
  box-sizing: content-box;
  display: block; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  /* overflow: auto; */
  outline: none;
  /* white-space:pre-wrap; */
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#editorStatus {
  margin-right:10px;
}

.text-vertical {
  height: 100%;
  margin-top: 6px;
}

#editorfilename {
  width: 300px;
}

#editor .dropdown-menu {
  width: 332px;
  overflow-y: auto;
  max-height: 500px;
}
.dropdown-menu a {
  cursor: pointer;
}
pre.CodeMirror-Active-Line{
  background: lightgray;
}